{% extends "base.html"%}
{%block content%}
<div class="container mt-2">
    <div class="card mx-auto w-50 shadow-lg">
        <img src="{{ url_for('static',filename='/images/human-guided.jpg') }}" class="card-img-top rounded"
         alt="data being cleaned sequentially" style="height: 14rem;">
        <div class="card-body">
            <form class="form-inline" id="predictionForm" role = "form" action="/predict" method="POST">
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-3 mt-1">
                            <label for="district" class="form-label">District</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="district" name="district_name">
                            <option>Toronto and East York</option>
                            <option>Etobicoke York </option>
                            <option>Scarborough </option>
                            <option>North York </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-3 mt-1">
                            <label for="road" class="form-label">Road Class</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="road" name="road_class">
                                <option>Major Arterial</option>
                                <option>Minor Arterial </option>
                                <option>Collector </option>
                                <option>Local</option>
                                <option>Expressway</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-3">
                            <label for="traffctl" class="form-label">Traffic Control</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="traffctl" name="traffic_control">
                                <option>No Control</option>
                                <option>Traffic Signal </option>
                                <option>Stop Sign </option>
                                <option>Pedestrian Crossover</option>
                                <option>Traffic Controller</option>
                                <option>Yield Sign</option>
                                <option>Streetcar (Stop for)</option>
                                <option>Traffic Gate</option>
                                <option>School Guard</option>
                                <option>Police Control</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-3">
                            <label for="visiblity" class="form-label">Visiblity</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="visiblity" name="visib_name">
                                <option>Clear</option>
                                <option>Rain</option>
                                <option>Snow </option>
                                <option>Fog, Mist, Smoke, Dust</option>
                                <option>Freezing Rain </option>
                                <option>Drifting Snow</option>
                                <option>Strong wind</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-3">
                            <label for="light" class="form-label">Light</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="light" name="light_name">
                                <option>Daylight</option>
                                <option>Dark</option>
                                <option>Dark, artificial  </option>
                                <option>Dusk, artificial</option>
                                <option>Daylight, artificial</option>
                                <option>Dawn</option>
                                <option>Dawn, artificial</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- <div class=">
                    <label for="injury" class="form-label">Injury</label>
                    <input type="text" class="form-control" id=injury">
                </div> -->
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-3">
                            <label for="impactype" class="form-label">Impact Type</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="impactype" name="impact_type">
                                <option>Pedestrian Collisions</option>
                                <option>Turning Movement</option>
                                <option>Cyclist Collisions</option>
                                <option>Rear End</option>
                                <option>Angle</option>
                                <option>Approaching</option>
                                <option>Sideswipe</option>
                                <option>SMV Unattended Vehicle</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-3">
                            <label for="rdfscond" class="form-label">Road Condition</label>
                        </div>
                        <div class="col-3">    
                            <select class="form-control" id="rdfscond" name="road_condition">
                                <option>Dry</option>
                                <option>Wet</option>
                                <option>Loose Snow </option>
                                <option>Slush</option>
                                <option>Ice</option>
                                <option>Packed Snow</option>
                                <option>Loose Sand or Gravel</option>
                                <option>Spilled liquid</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="invage" class="form-label">Age</label>
                        </div>
                        <div class="col-4">
                            <select class="form-control" id="invage" name="age">
                                <option>0 to 4</option>
                                <option>5 to 9</option>
                                <option>10 to 14</option>
                                <option>15 to 19</option>
                                <option>20 to 24</option>
                                <option>25 to 29</option>
                                <option>30 to 34</option>
                                <option>35 to 39</option>
                                <option>40 to 44 </option>
                                <option>45 to 49</option>
                                <option>50 to 54</option>
                                <option>55 to 59</option>
                                <option>55 to 59</option>
                                <option>60 to 64</option>
                                <option>65 to 69</option>
                                <option>70 to 74</option>
                                <option>75 to 79</option>
                                <option>80 to 84</option>
                                <option>85 to 89</option>
                                <option>90 to 94</option>
                                <option>Over 95</option>
                            </select>
                        </div>
                    <!-- </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row"> -->
                        
                    </div>
                </div>
                <!-- tag for storing the value of type of model -->
                <input type="hidden" id="model_type" name="model_type">
                <div class="row justify-content-end mt-3" >
                    <div class="col-3">
                        <button type="submit" id="submitPredictLr"  class="btn" style="background-color: #205484; color:white"  value="lr">Predict LR</button>    
                    </div>
                    <div class="col-3">
                        <button type="submit" id="submitPredictSvm"  class="btn" style="background-color: #205484; color:white"  value="svm">Predict SVM</button>
                    </div>
                    <div class="col-3">
                        <button type="submit" id="submitPredictSvm"  class="btn " style="background-color: #205484; color:white" value="knn" disabled>Predict KNN</button>
                    </div>
                    <!-- <button type="submit" id="submitPredict"  class="btn btn-primary">Predict SVM</button> -->
                </div>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="predictionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Prediction</h5>
                    <!-- <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"> -->
                        <!-- <span aria-hidden="true">&times;</span> -->
                    </button>
                    </div>
                    <div class="modal-body text-center">
                    <h4 id="resultModal"></h4>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/script.js"></script>
{% endblock %}
